.car {
    position: absolute;
    bottom: 10%;
    width: 55px;
    height: 100px;
    background-size: cover;
    transform: translateX(-50%);
  }
  
  .car.shielded {
    border: 5px solid rgba(0, 0, 255, 0.5); /* Ajoutez un contour bleu pour représenter le bouclier */
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); /* Ajoutez une lueur pour représenter le bouclier */
  }
  