@font-face {
  font-family: 'Olive Days';
  src: url('../fonts/Olive Days.ttf') format('truetype');
}

.game-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: auto;
  background-color: #ff95f1;
  position: relative;
  overflow: hidden;
}

.button-container {
  width: 100%; /* Full width to align center */
  text-align: center; /* Center pause button */
  padding: 10px 0; /* Some padding around the button */
  max-width: 400px; /* Match the width of the track */
  box-sizing: border-box; /* Include padding in the width calculation */
}

.pause-button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #ffcc00;
  color: #282c34;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.track {
  width: 400px;
  height: 1046px;
  position: relative;
  background-color: #fffb00;
  background-image: url('../assets/15_long-road-in-game-mockup_half.png');
  background-size: cover;
  background-position: center;
  margin: auto; /* Center the track */
}

.pause-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  z-index: 1000; /* Ensures it sits above all other content */
}

.pause-menu button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffcc00;
  color: #282c34;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.pause-menu button:hover {
  background-color: #ffd700;
}
